.login-section {
    width: 40%;
}

.register {
    cursor: pointer;
}

@media only screen and (max-width:576px) {
    .login-section {
        width: 75%;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .login-section {
        width: 60%;
    }
}